<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Grab Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<style>
  .tableRow {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    text-align: center;
    line-height: 1.4;
  }

  .headerRow {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    background-color: #71746c;
  }

  #chart_div tr {
    cursor: pointer;
  }
</style>

<script>

    google.charts.load('current', {'packages':['corechart','table','controls']});
    google.charts.setOnLoadCallback(googlecharts_is_ready);

    var chart, table;
    var tabledata;
  
    function googlecharts_is_ready(){
      getDriverData();
      getDriverOffence();
    }


    function getDriverData(){
    
        jQuery.ajax({
            url: "/api/getsingledriver/{{driverid}}",
            type: "POST",
            dataType: 'json',
            success: function(ndata, textStatus, xhr){
                data = ndata.chart_data
                addToEditProfile(data)        
                document.getElementById("submit").disabled = false;
            }
        })

        jQuery.ajax({
          url:"/api/getdriverImage/{{driverid}}",
          type: "POST",
          dataType: 'json',
          success: function(ndata, textStatus, xhr){
            if(ndata){
              $('#image_div').attr("src","data:image/jpg;base64,"+ ndata);
            }
          }
        })
    }

    function getDriverOffence(){
      jQuery.ajax({
          url:"/api/getdriverOffence/{{driverid}}",
          type: "POST",
          dataType: 'json',
          success: function(ndata, textStatus, xhr){
            data = ndata.chart_data
            if(data.length > 0){
              tabledata = getoffenceTable(data)          
              drawDataTable(tabledata,"table_div")       
            }else{
              $('#table_div').html("No Offence").attr("style","text-align:center;")
              $('#table_div').wrapAll('<h2></h2>')
            }
          }
        })
    }
    
    function drawDataTable(tabledata, divname){
      var cssClasses = {headerCell: 'headerRow', tableCell: 'tableRow'};
      table = new google.visualization.Table(document.getElementById(divname));
      table.draw(tabledata, { 'cssClassNames': cssClasses,page: 'enable', pageSize: '20',showRowNumber: true, width: '100%', height: '100%' });

    }//end drawTable

    function getoffenceTable(newdata){
        tabledata = new google.visualization.DataTable();       
        tabledata.addColumn('string', 'Driver ID');
        tabledata.addColumn('string', 'Occurence Time');
        tabledata.addColumn('number', 'Latitude')
        tabledata.addColumn('number', 'Longitude')
        tabledata.addColumn('number', 'Speed')
        currentrow = 0
        for (i in newdata){
            
            driverid = newdata[i].driverid
            occurence = newdata[i].occurence_time
            latitude = newdata[i].latitude
            longitude = newdata[i].longitude
            speed = newdata[i].speed

            tabledata.addRows([[driverid, occurence, latitude, longitude, speed]]);
            currentrow++
        
        }

        tabledata.removeRows(0,currentrow-100)
        tabledata.sort({column:1, desc:true});
        return tabledata
    }
   

    function addToEditProfile(newdata){
        
        driverid = newdata[0].driverid
        creation_value = newdata[0].creation_value;
        jscreationDate = new Date(Date.parse(creation_value));
        driverName = newdata[0].driverName
        dataDOB = newdata[0].dob
        jsBirthdate = new Date(Date.parse(dataDOB));
        
        day = ("0" + jsBirthdate.getDate()).slice(-2);
        month = ("0"+ (jsBirthdate.getMonth()+1)).slice(-2);
        
        BirthDate = jsBirthdate.getFullYear()+"-"+(month)+"-"+(day);
       
        $("#name").attr("value",driverName)
        $("#creationdate").attr("value",jscreationDate)
        $("#birthdate").val(BirthDate)
        
    }

    function uploadformtoFlask(){
        
        event.preventDefault();
        document.getElementById("driverid").disabled = false;
        var form_data = new FormData($('#uploadform')[0]);
        document.getElementById("driverid").disabled = true;
        jQuery.ajax({
            url: "/api/updateProfile",
            type: "POST",
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(ndata, textStatus, xhr){
              getDriverData();
            },
            error: function(){
                alert('Error');
            }
        }) 
       
    }

</script>

<body class="">
    <div class="wrapper " style="background-color: #f4f3ef;">
        <div class="sidebar" data-color="white" data-active-color="danger">
          <div class="logo">
            <a href="/" class="simple-text logo-normal">
              <img style="width: 70%;height: 70%;display:block; margin-left:auto; margin-right: auto;" src="../static/img/grab.png">
            </a>
          </div>
          <div class="sidebar-wrapper" style="background-image: url('../static/img/header.jpg');">
        <ul class="nav">
            <li>
                <a href="/">
                  <i class="nc-icon nc-bank" style="color: white;"></i>
                  <p style="color: white;">Dashboard</p>
                </a>
              </li>
              <li>
                <a href="/list">
                  <i class="nc-icon nc-diamond"  style="color: white;"></i>
                  <p  style="color: white;">Booking List</p>
                </a>
              </li>
              <li class="active ">
                <a href="/driverlist">
                  <i class="nc-icon nc-circle-10"></i>
                  <p>Driver List</p>
                </a>
              </li>
              <li>
                <a href="/temperature">
                  <i class="nc-icon nc-umbrella-13" style="color: white;"></i>
                  <p style="color: white;">Temperature & Humidity</p>
                </a>
              </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Driver ID {{driverid}}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
              </div>
              <div class="card-body">
                <form id ="uploadform" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label style="display:block; text-align: center; font-size:large">Driver Image</label>
                        <img id="image_div" src="../static/img/default-avatar.png" style="display: block; margin-left:auto; margin-right: auto;"></img>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                          <label for="file">Upload portrait of driver</label>
                          <input type="file" id="myfile" name="file">
                      </div>
                    </div>
                  </div>

                  <div class="row" style="padding-left: 2%; padding-right: 2%">  
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Driver ID (disabled)</label>
                        <input type="text" id="driverid" name="driverid" class="form-control" disabled="" placeholder="DriverID" value="{{driverid}}">
                      </div>
                    </div>
                    <div class="col-md-6 px-1">
                        <div class="form-group">
                          <label>Full Name</label>
                          <input type="text" id="name" name="Name" class="form-control" placeholder="Full Name" value="">
                        </div>
                      </div>
                  </div>
                  <div class="row" style="padding-left: 2%; padding-right: 2%">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>Creation Date (disabled)</label>
                          <input type="text" id="creationdate" class="form-control" disabled="" placeholder="Creation Date" value="">
                        </div>
                    </div>
                    
                    <div class="col-md-6 px-1">
                        <div class="form-group">
                          <label>Birth Date</label>
                          <input type="date" id="birthdate" name="BirthDate" class="form-control" placeholder="Birthdate" value="">
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button id="submit" type="button" class="btn btn-primary btn-round" onclick="uploadformtoFlask()" disabled>Update Profile</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Offence Record</h5>
              </div>
              <div class="card-body">
                
                  <div class="update ml-auto mr-auto">
                    <div id="table_div"></div>
                  </div>
                
              </div>
            </div>
          </div>
        </div>

          
       
      </div>
      <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © 2020, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
</body>

</html>
