<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./static/img/apple-icon.png">
  <link rel="icon" type="image/ico" href="./static/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Grab Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="./static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />

  <style>
    .tableRow {
      font-family: Montserrat-Regular;
      font-size: 14px;
      color: #808080;
      text-align: center;
      line-height: 1.4;
    }

    .headerRow {
      font-family: Montserrat-Medium;
      font-size: 12px;
      color: #fff;
      line-height: 1.4;
      text-align: center;
      text-transform: uppercase;
      background-color: #71746c;
    }

    #chart_div tr {
      cursor: pointer;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart','table','controls']});
    google.charts.setOnLoadCallback(googlecharts_is_ready);

    var chart, table;
    var graphdata;
    var tabledata;
  
    function googlecharts_is_ready(){
      getNewData(0)
    }

    function changeFunc() {
      var selectBox = document.getElementById("selectBox");
      var selectedValue = selectBox.options[selectBox.selectedIndex].value;

      getNewData(selectedValue)
    }

    function getNewData(columnIndex){

        jQuery.ajax({
            url: "/api/getalldata" ,
            type: 'POST',            
            success: function(ndata, textStatus, xhr){ 
                chartdata = ndata.chart_data
                chartdatalength  = parseInt(ndata.chart_data_length)
                tabledata = createDataTableForTable(chartdata,chartdatalength)          
                drawDataTable(tabledata,"table_div",columnIndex)
                
            }//end success
        });//end ajax
      } //end getNewData

      function createDataTableForTable(newdata,newdatalength){
        tabledata = new google.visualization.DataTable();       
        tabledata.addColumn('string', 'Booking ID');
        tabledata.addColumn('string', 'Elapsed');
        tabledata.addColumn('number', 'Max Speed');
        tabledata.addColumn('number', 'Min Speed');
        tabledata.addColumn('number', 'Avg Speed')
        tabledata.addColumn('number', 'Last Recorded Speed')
        tabledata.addColumn('datetime', 'Last Update');

        currentrow = 0

        totalArr = [];
        totalObj = {};
        
        for (i in newdata){
            
            bookid = newdata[i].bookingid
            bookid = bookid.substring(0,bookid.length-2);
            speed = newdata[i].speedkmhour
            seconds =  parseInt(newdata[i].seconds)
            minutes = Math.floor(seconds/60)
            seconds_str = minutes + " minutes " + (seconds-(minutes*60)) + " seconds"
            datetime = newdata[i].datetime_value;
            jsdatetime = new Date(Date.parse(datetime));

            totalObj = {"bookid":bookid, "speed":speed,no:1};

            if(!totalArr.some(item => item.bookid === bookid)){
              tabledata.addRows([[{v: bookid,f: "<a href='/data/"+bookid+"'>"+bookid+"</a>"},seconds_str,speed,speed,speed,speed,jsdatetime]]);
              currentrow++
      
              totalArr.push(totalObj);
            }else {
              index = totalArr.findIndex(item => item.bookid === bookid)
              no = totalArr[index].no + 1;
              totalSpeed = totalArr[index].speed + totalObj.speed;
              totalObj = {"bookid":bookid,"speed":totalSpeed,"no":no}
              totalArr[index] = totalObj

              maxSpeed = tabledata.getValue(index,2)
              minSpeed = tabledata.getValue(index,3)

              if(speed >= maxSpeed){
                  maxSpeed = speed
                  tabledata.setCell(index,2,maxSpeed)
                  
              }else if (speed <= minSpeed){
                  minSpeed = speed
                  tabledata.setCell(index,3,minSpeed)
              }
              tabledata.setCell(index,1,seconds_str)
              tabledata.setCell(index,4,speed)    
              tabledata.setCell(index,6,jsdatetime)    
            }  
        }

        for(i in totalArr){
          totalbookid = totalArr[i].bookid
          totalSpeed = totalArr[i].speed
          no = totalArr[i].no
          avg = totalSpeed/no
          index = totalArr.findIndex(item => item.bookid === totalbookid)

          tabledata.setCell(index,5,avg)
        }

        tabledata.removeRows(0,currentrow-100)
        tabledata.sort({column:6, desc:true});
        return tabledata
    }
   

    function drawDataTable(tabledata, divname,columnIndex){

      var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));  

      var cssClasses = {headerCell: 'headerRow', tableCell: 'tableRow'};
     
      var table = new google.visualization.ChartWrapper({
        chartType: 'Table',
        containerId: 'table_div',
        options: {
            'cssClassNames':cssClasses,
            alternatingRowStyle: false,
            allowHtml: true,
            width: '100%',
            height: '100%',
            page: 'enable',
            pageSize: '20'
        }
      });

      var control = new google.visualization.ControlWrapper({
        controlType: 'StringFilter',
        containerId: 'search_div',
        matchType: 'any',
        options:{
          filterColumnIndex: columnIndex,
          useFormattedValue: false
        }  
      });

      dashboard.bind([control],[table]);
      dashboard.draw(tabledata);

    }//end drawTable

</script>

</head>

<body class="">
  <div class="wrapper " style="background-color: #f4f3ef;">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          <img style="width: 70%;height: 70%;display:block; margin-left:auto; margin-right: auto;" src="../static/img/grab.png">
        </a>
      </div>
      <div class="sidebar-wrapper" style="background-image: url('../static/img/header.jpg');">
        <ul class="nav">
          <li>
            <a href="/">
              <i class="nc-icon nc-bank" style="color: white;"></i>
              <p style="color: white;">Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="/list">
              <i class="nc-icon nc-diamond"></i>
              <p>Booking List</p>
            </a>
          </li>
          <li>
            <a href="/driverlist">
              <i class="nc-icon nc-circle-10" style="color: white;"></i>
              <p style="color: white;">Driver List</p>
            </a>
          </li>
          <li>
            <a href="/temperature">
              <i class="nc-icon nc-umbrella-13" style="color: white;"></i>
              <p style="color: white;">Temperature & Humidity</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Grab Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">

        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Booking ID List</h5>
              
              </div>
              
              <div class="card-body">
                <div id="dashboard" class="chart-area">
                  <div class="input-group-text">
                    Search by: <select id="selectBox" onchange="changeFunc();">
                      <option value="0">Booking ID</option>
                      <option value="2">Max Speed</option>
                      <option value="3">Min Speed</option>
                      <option value="4">Avg Speed</option>
                      <option value="5">Last Recorded Speed</option>
                    </select>
                    <div id="search_div" ></div>
                  </div>
                  <div id="table_div"></div>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-block" onclick="getNewData(0)">Refresh Table</button>
                </div> 
              </div>
              <div class="card-footer ">
                <hr>
              </div>
            </div>
          </div>
        </div>
        <hr>

      </div>
      <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © 2020, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="./static/js/core/jquery.min.js"></script>
  <script src="./static/js/core/popper.min.js"></script>
  <script src="./static/js/core/bootstrap.min.js"></script>
  <script src="./static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="./static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
</body>

</html>
